<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My ToDo List</title>
    </head>
    <body>
        <h1>What do <strong>you</strong> have to do?</h1>
        <form class="mainQuestion" action="/" method="post">
            <input type="text" name="newTask" value="" placeholder="What is your next task?">
            <button type="submit" name="button">Submit</button>
        </form>



        {{#tasks}} <!--new Task needs to be defined -->
        <form class="newTask" action="/a" method="post">
            <button type="submit" name="theTask" value="{{.}}">Complete {{.}}</button> <!--text needs to be defined -->
        </form>
        {{/tasks}}


        <div class="completedTasks">

            <h2>Complete</h2>
            {{#complete}}

            <button type="button" name="{{.}}">
                <strike>{{.}}</strike>
            </button>


        <!-- <form class="complete" action="/b" method="post">
            <input type="submit" name="completedTask" value=""> <!-text needs to be defined -->
        <!-- </form> -->

            {{/complete}}

        </div>

    </body>
</html>
